/*app.blade.php*/
html, body{
	background-image: url("../images/bg.jpg");
}

.container-sections{
	background-color: #fff;
	border-radius: 15px;
	margin: 10px 0px 30px 0px;
	padding-top: 10px;
	padding-bottom: 30px;
	
}
/*card_article.blade.php*/
.card-article{
	padding: 5px;
}
.card-article div{
	padding: 0px;
	border-radius: 2px;
	border: 2px solid #8A8A8A;
	width: 135px;
	height: 185px;
}
.card-article div:hover{
	border: 2px solid #E6E6E6;
}
.card-article img{
	width: 131px;
	height: 181px;
}
/*section_article.blade.php*/
.section-article-container{
	margin: 20px 0px 30px;
}
.section-article-title-container{
	color: #FFFFFF;
	background-color: #005ABF;
	border-radius: 2px 2px 0px 0px;
	border: 2px solid #005ABF;
	text-align: center;

}
.section-article-articles-container{
	margin: 0px;
	border-radius: 0px 0px 3px 3px;
	border: 2px solid #005ABF;

}

/*dots.blade.php*/

.btn-dotpage{

	float: left;
    width: 37px;
    height: 37px;
    text-align: center;
    padding: 0 0 0 2px;
    font-size: 20px;
    line-height: 1.65;
    border-radius: 30px;
    border-color: #3B3D43;
    background: #363942;
    margin: 5px;
}

/*slider.blade.php*/
.slider-container{
	background-color: #133452;
	border-radius: 15px;
	margin: 10px 0px 10px;
	border: 2px solid #133452;
}

/*widget*/
.widget-container{
	padding: 0px;
	margin: 20px 0px 10px;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #133452;


}
.widget-title-container{
	background-color: #1F6678;
	text-align: center;
	color: #fff;
}
.widget-content{
	border-radius: 3px;
	border: 1px solid #133452;
}
/*suscribe_sm.blade.php*/
.input-email-suscribe{
	width: 100%;
	margin: 10px;
}
.button-submit-suscribe{
	margin: 10px;
}